@charset "utf-8";

.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

body {
  font-family: Open Sans, sans-serif;
}

h2 {
  font-weight: 700;
  font-size: 18px;
}
.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.orange {
  background-color: #f79421;
}

.green {
  background-color: #00953b;
}

.blue {
  background-color: #0072bc;
}

.construction > a > path {
  fill: #f79421;
  stroke: #f79421;
}

.development > a > path {
  fill: #00953b;
  stroke: #00953b;
}

.open > a > path {
  fill: #0054a4;
  stroke: #0054a4;
}
.open > a > path.overide-construction {
  fill: #f79421;
  stroke: #f79421;
}

.instructions {
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  padding: 8px;
  margin: 0;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#cmrtaMap g a title {
  pointer-events: none;
}
.interactive-map-container {
  width: 100%;
  height: 85vh;
  position: relative;
  background-color: #eef3e6;
  overflow: hidden;
}

.controls {
  position: absolute;
  bottom: 20px;
  right: 0px;
  width: 60px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

#zoom-in,
#zoom-out,
#reset {
  text-transform: uppercase;
  width: 80%;
  height: 40px;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: none;
  color: #fff;
  padding: 0;
}

#zoom-in,
#zoom-out {
  font-size: 14px;
  font-weight: 700;
}

#zoom-in:before,
#zoom-out:before,
#reset:before {
  content: none;
}

#reset {
  font-size: 11px;
  font-weight: 500;
}

#legend {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40%;
  max-width: 150px;
  min-width: 130px;
  height: 150px;
}

#compass {
  position: absolute;
  bottom: 60px;
  right: 20px;
  width: 25%;
  max-width: 200px;
  min-width: 150px;
}

#cmrtaMap {
  display: inline;
  width: inherit;
  min-width: inherit;
  max-width: inherit;
  height: inherit;
  min-height: inherit;
  max-height: inherit;
}
#cmrtaMap:hover {
  cursor: move;
}

.toll-line {
  cursor: pointer;
  position: relative;
}
.toll-line:hover {
  filter: url(#f3);
}

#description-box {
  font-size: 22px;
  background: white;
  position: absolute;
  top: 10px;
  left: 0;
  width: 96%;
  max-height: 96%;
  z-index: 99;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -webkit-box-shadow: 4px 4px 31px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 31px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

#description-box h2 {
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
#description-box h3 {
  margin: 6px 0 6px 0;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}
#description-box p {
  font-weight: 500;
  font-size: 0.875rem;
  margin: 0 0 15px 0;
}
#description-box ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}
#description-box ul.two-column {
  -webkit-column-count: 2;
  column-count: 2;
}
#description-box li {
  font-weight: 500;
  font-size: 14px;
  margin: 0 0 8px 16px;
}
#description-box li:before {
  content: "»";
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  top: -2px;
  left: -15px;
  background: none;
}
#description-box #closeBtn {
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  color: #ffffff;
  font-weight: 600;
  -webkit-box-shadow: 0px 3px 9px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 9px 1px rgba(0, 0, 0, 0.25);
}

#description-box #closeBtn button {
  text-transform: uppercase;
  font-size: 22px;
  cursor: pointer;
  width: 45px;
  height: 45px;
  text-decoration: none;
  background: none;
  border: none;
  font-weight: 700;
  color: #ffffff;
}
#description-box #closeBtn button:before {
  content: none;
}
#description-box #closeBtnBottom {
  text-align: right;
  padding: 8px 10px;
  display: flex;
  justify-content: flex-end;
}
#description-box #closeBtnBottom button {
  width: auto;
  background: #0054a4;
  border: none;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-weight: 900;
  color: #fff;
  transition: all 0.3s ease-in;
  cursor: pointer;
  padding: 8px 20px;
}
#description-box #closeBtnBottom button:before {
  content: none;
}
#description-box #mapInfo {
  position: relative;
  padding: 20px;
}

#description-box #phaseFeatures {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  margin: 0px 12px 0 0;
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #000;
}

#description-box #didYouKnow {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  margin-top: 20px;
}

#description-box #didYouKnow {
  font-size: 14px;
  padding: 10px;
  color: #ffffff;
}

#description-box #didYouKnow span {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  display: block;
}

#description-box #didYouKnow img {
  width: 100%;
  height: auto;
}

#description-box #logoShield {
  float: left;
}
#description-box #logoShield img.hwy-shield {
  width: 150px;
  max-width: 150px;
  max-height: 100%;
  margin: 0 25px 15px 0 !important;
}

.slideshow-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin-top: 30px;
}
.slideshow-container .project-slides {
  display: block;
  text-align: center;
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 450px;
  position: relative;
  overflow: hidden;
  z-index: 9;
}
.slideshow-container .project-slides img {
  /* max-width: 100%;
  height: auto; */
  height: 90%;
  width: auto;
}
.slideshow-container .project-slides p {
  color: #000;
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 13px !important;
  padding: 8px 12px;
  text-align: center;
  font-style: italic;
}
.slideshow-container .project-slides[aria-hidden="true"] {
  display: none;
}
.slideshow-container .slideshow-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 9px;
  width: 30px;
  height: 40px;
  margin-top: -20px;
  color: white;
  font-weight: bold;
  font-size: 1.125rem;
  transition: 0.6s ease;
  user-select: none;
  border: 0;
  background-color: rgba(0, 0, 0, 0.4);
  outline: initial;
  z-index: 11;
}
.slideshow-container .slideshow-button:focus {
  outline: solid;
  outline-color: #ed9924;
  border-color: #ed9924;
  box-shadow: 0 0 4px #ed9924;
}
.slideshow-container .slideshow-button.next {
  left: 94%;
}

.slideshow-container .slideshow-pagination {
  text-align: center;
  padding: 6px;
  width: 100%;
  height: 40px;
  background: #f9f9f9;
  z-index: 10;
}
.slideshow-container .slideshow-pagination-dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #ebc97a;
  border: 0;
  outline: initial;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.slideshow-container .slideshow-pagination-dot:focus {
  outline: solid;
  outline-color: #eea905;
  border-color: #eea905;
  box-shadow: 0 0 4px #eea905;
}
.slideshow-container .active,
.slideshow-container .slideshow-pagination-dot:hover {
  background-color: #bb7e29;
}

#description-box #points,
#description-box #related,
#description-box #dailyTraffic {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #000;
}
#description-box.active {
  display: block;
}

/* CSS STYLES FROM ILLUSTRATOR FOR SVG FILES */

.cls-1,
.cls-13,
.cls-52,
.cls-54 {
  fill: none;
}
.cls-2 {
  fill: #eef3e6;
}
.cls-3 {
  fill: #b5d8e2;
}
.cls-4 {
  clip-path: url(#clip-path);
}
.cls-5 {
  fill: #64744b;
}
.cls-6 {
  clip-path: url(#clip-path-2);
}
.cls-7 {
  fill: #b3b3b3;
}
.cls-8 {
  opacity: 0.85;
}
.cls-9 {
  fill: #999;
}
.cls-10,
.cls-28,
.cls-37 {
  fill: #fff;
}
.cls-11 {
  clip-path: url(#clip-path-3);
}
.cls-12 {
  fill: gray;
}
.cls-13 {
  stroke: #eef3e6;
  stroke-linejoin: round;
}
.cls-14 {
  fill: #1e4384;
}
.cls-15 {
  fill: #af1f2d;
}
.cls-16 {
  fill: #231f20;
}
.cls-17 {
  fill: #2e3068;
}
.cls-18 {
  fill: #781033;
}
.cls-19 {
  fill: #333;
}
.cls-20 {
  clip-path: url(#clip-path-4);
}
.cls-21,
.cls-33 {
  fill: #0054a4;
  stroke: #0054a4;
}
.cls-21,
.cls-22,
.cls-27,
.cls-28,
.cls-33,
.cls-34,
.cls-36,
.cls-37,
.cls-41 {
  stroke-miterlimit: 10;
}
.cls-21,
.cls-27,
.cls-41 {
  stroke-width: 4px;
}
.cls-22,
.cls-34 {
  fill: #ebb01f;
}
.cls-22,
.cls-28,
.cls-34,
.cls-52,
.cls-54 {
  stroke: #231f20;
}
.cls-22,
.cls-34,
.cls-52 {
  stroke-width: 0.5px;
}
.cls-22,
.cls-23 {
  fill-rule: evenodd;
}
.cls-23,
.cls-35 {
  fill: #0056a1;
}
.cls-24 {
  fill: #221f1f;
}
.cls-25 {
  fill: #eca820;
}
.cls-26 {
  fill: #0155a3;
}
.cls-27 {
  fill: #f79421;
  stroke: #f79421;
}
.cls-29 {
  fill: #005da5;
}
.cls-30 {
  fill: #0055b8;
}
.cls-31 {
  fill: #80bc00;
}
.cls-32 {
  fill: #80bc41;
}
.cls-33,
.cls-36 {
  stroke-width: 5px;
}
.cls-36,
.cls-41 {
  fill: #00953b;
  stroke: #00953b;
}
.cls-37 {
  stroke: #000;
  stroke-width: 0.75px;
}
.cls-38 {
  fill: #fcb116;
}
.cls-39 {
  fill: #58595b;
}
.cls-40 {
  fill: #0055a3;
}
.cls-42 {
  fill: #404041;
}
.cls-43 {
  fill: #6d6e70;
}
.cls-44 {
  clip-path: url(#clip-path-5);
}
.cls-45 {
  fill: #0c57a4;
}
.cls-46 {
  clip-path: url(#clip-path-6);
}
.cls-47 {
  fill: #6eb43f;
}
.cls-48 {
  fill: #ec1c24;
}
.cls-49 {
  fill: #eed21b;
}
.cls-50 {
  fill: #efd31c;
}
.cls-51 {
  fill: #eba900;
}
.cls-53 {
  isolation: isolate;
}
.cls-54 {
  stroke-width: 0.15px;
}
.\32 3115d43-863f-412d-8791-8d2f1bb4dab9 {
  fill: #c7c8ca;
  stroke-width: 0.75px;
}
.\32 3115d43-863f-412d-8791-8d2f1bb4dab9,
.bcf3247a-0efb-4fc1-acb0-fd24139f4326 {
  stroke: #636466;
}
.bcf3247a-0efb-4fc1-acb0-fd24139f4326,
.bf8af706-a5c5-470c-bbfc-c20c866f5303 {
  fill: #fff;
}
.a491db74-b073-4b15-b6c1-0161f6ba1139,
.aa637989-5580-492c-8ca7-c83c19055234,
.bcf3247a-0efb-4fc1-acb0-fd24139f4326,
.c218fe5c-a5f5-4994-ae3b-399bd9227791 {
  stroke-linejoin: round;
}
.bcf3247a-0efb-4fc1-acb0-fd24139f4326 {
  stroke-width: 0.5px;
}
.\36 7a0bd79-6574-460f-91ab-219575d6dfa4 {
  font-size: 11.92px;
  fill: #636466;
  font-weight: 700;
  letter-spacing: -0.01em;
}
.a491db74-b073-4b15-b6c1-0161f6ba1139,
.aa637989-5580-492c-8ca7-c83c19055234,
.c218fe5c-a5f5-4994-ae3b-399bd9227791 {
  fill: none;
  stroke-width: 10px;
}
.c218fe5c-a5f5-4994-ae3b-399bd9227791 {
  stroke: #f79421;
}
.\32 829f38d-9cd6-48e7-a816-25b4011dd255,
.\33 3cef48b-0d50-4cbe-8efb-0591ad6e6e6b {
  font-size: 9.08px;
  fill: #231f20;
}
.\32 829f38d-9cd6-48e7-a816-25b4011dd255,
.\33 c3dbb44-b9d9-45b3-93a5-86e74a138521 {
  letter-spacing: -0.02em;
}
.a491db74-b073-4b15-b6c1-0161f6ba1139 {
  stroke: #00953b;
}
.\33 3cef48b-0d50-4cbe-8efb-0591ad6e6e6b {
  letter-spacing: -0.01em;
}
.aa637989-5580-492c-8ca7-c83c19055234 {
  stroke: #0072bc;
}
.\38 8030a88-05eb-43ad-8e79-79a97b1a9682 {
  fill: #eda920;
}
.e443eeb8-9f58-4c8a-96a7-5d645cc07417 {
  fill: #0355a3;
}
.san-gabriel {
  font-size: 7px;
  fill: #999;
}
.cls-56 {
  fill: #6eb43f;
}
.cls-57 {
  fill: #0c57a4;
}
